<div class="container">
  <h2>Are you sure you want to delete "<%= @book.title %>"?</h2>
  <p>This action cannot be undone.</p>

  <%= form_for @book, method: :delete do %>
    <%= submit_tag "Yes, Delete", class: "btn btn-danger" %>
    <%= link_to "Cancel", books_path, class: "btn btn-secondary" %>
  <% end %>
</div>
